<!DOCTYPE html>
<html lang="en">
<head>
  <%- include( './layout/head.ejs' ) %>
  <link rel="stylesheet" href="/styles/modules/about.css">
</head>
<body>
  <div id="grid-container">
  <header>
    <%- include( './layout/header.ejs' ) %>
  </header>
  <main>
    <h2>About the Team</h2>
    <div>
      <h2>Dom</h2>
      <section id="dom-bio" class="all-bio">
            <figure><img src="/images/domsocialpic01.jpg" alt="photo of Dominique Augurson"></figure>
            <!-- write your bio -->
            <p> Good afternoon! My name is Dominique Augurson, and I am a longtime resident of the Pacific Northwest. I have a varied background experience ranging from maintaining C-130's with the USAF, security, and corrections. After graduating earlier this year, I decided to pursue a long-held interest in information technology. While academia provided me with well-rounded foundation for IT, Code Fellows became a prime choice for understanding the basis for how people interact with IT. Reflecting upon on my initial 101 class with Code Fellows, I realized the potential opportunities of becoming a professional in software development.
            </p>
        </section>
        <h2>Grace</h2>
        <section id='grace-bio' class="all-bio">
            <figure><img src="/images/grace.jpg" alt="photo of Grace Choi"></figure>
            <!-- write your bio -->
            <p>My name is Grace Choi and I live in Seattle, Washington! I was born in New York, but consider Columbus, Ohio home. Having lived in 8 states and more than 20 cities, I always have an urge to travel. I love listening to music and going to live shows and festivals (pre-covid!). I also love hiking and exploring nature! Nowadays, I spend my time working and coding at home. 
              My first introduction to the study of computer tech was as a Freshmen in college. I took an Intro to Computer Science and the class consisted of learning binary numbers and how computers read them. I was quickly turned off and ended up dropping the class. After moving to Seattle, I wanted to explore different career paths. After joining Zillow, I realized coding was not what I thought it was. There were so many languages and processes that I never dreamed of. After taking a few HTML and CSS courses online, I realized that web development is so interesting and it quickly drew me in. I hope to become a Software Development Engineer and use my skills to offer web development assistance to enhance, not only my personal life, but for my family, friends, and community.
            </p>
        </section>
        <h2>Scott</h2>
        <section id='scott-bio' class="all-bio">
            <figure><img src="/images/scott.jpg" alt="photo of Scott Falbo"></figure>
            <!-- write your bio -->
            <p>Hello, my name is Scott.  I’m a software developer based in Seattle.
              After twenty years in the arts I find myself at the beginning of a new exciting journey into coding.  I’ve always had an interest in software development and am eager to explore that curiosity.  
              I’m enthusiastic about the opportunity to always be learning new languages, modalities and perspectives.  Each new thing is another tool in the box and one more way to solve complex puzzles or create cool stuff.
            </p>
        </section>
        <h2>Klace</h2>
        <section id="klace-bio" class="all-bio">
            <figure><img src="https://avatars3.githubusercontent.com/u/67241215?s=175&u=250e85e15085353a36a3d48f0089c95652c06ad4&v=4" alt="photo of Klace Koch"></figure>
            <!-- write your bio -->
            <p>I'm a former Air Force munitions tech, turned bike mechanic, turned bike shop manager, turned full stack developer. I love to tinker and find creative ways to solve problems nobody knew they had. I'm constantly thinking of a better way to do something, or some goofy product. I'm steering my unique experiences into an innovative career in tech, focused on equity, and community.
            </p>
        </section>
    </div>
  </main>

  <footer>
    <%- include( './layout/footer.ejs' ) %>
  </footer>
  </div>
</body>
</html>
