<!DOCTYPE html>
<html lang="en">

<head>
  <%- include( './layout/head.ejs' ) %>
  <link rel="stylesheet" href="./styles/modules/homepage.css">
</head>

<body>
  <div id="grid-container">
    <header>
      <%- include( './layout/header.ejs' ) %>
    </header>
    <main>
      oh no
    </main>
    <footer>
      <%- include( './layout/footer.ejs' ) %>
    </footer>
  </div>
</body>

</html>