<!DOCTYPE html>
<html lang="en">
<head>
  <%- include( './layout/head.ejs' ) %>
  <title>Homepage</title>

</head>
<body>
  <header>
    <%- include( './layout/header.ejs' ) %>
  </header>
  <main>
    <h2>Welcome to 'some name'</h2>
    <form action="/startquiz" method="POST">
      <input type="text">
      <button type="submit">Start the Quiz</button>
    </form>

  </main>

  <footer>
    <%- include( './layout/footer.ejs' ) %>
  </footer>
</body>
</html>