table {
  width: 90%;
  max-width: 480px;
  margin: 20px auto;
  background: #fff;
}

tr > :first-child {
  text-align: left;
}

tr:nth-child(even) {
  background: rgb(201, 201, 201);
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

h2 {
  color: white;
}