<section id="saved-quotes">
  <!-- insert data from object -->
  <p>quote</p>
  <p>quoter</p>
  <figure><img src="https://place-hold.it/175x250" alt="optional image"></figure>
  <p>optional note</p>
</section>