* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background: rgb(49, 49, 49);
  font-family: 'Baloo 2', cursive;
}

.hidden-input {
  display: none;
}

a:link, a:visited, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}
