<section id="header-container">
    <a href="/"><h1>QuoteFellas</h1></a>
    <div id="dropdown">
        <div class="lines">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <nav id="menu">
            <ul>
                <li>
                    <a href="/">
                        <p>Home</p>
                    </a>
                </li>
                <li>
                    <a href="/saved">
                        <p>Saved</p>
                    </a>
                </li>
                <li>
                    <a href="/scores">
                        <p>Scores</p>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <p>About</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>