<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(../layout/head) %>
</head>

<body>

    <%- include(../layout/header) %>

    <div id="allBio">
        <section id="domBio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dignissimos ratione, totam sunt, blanditiis quos quibusdam aliquam, aspernatur esse suscipit rerum ab? Quibusdam, molestias ea. Corporis optio fugit natus consequuntur!</p>
        </section>
        <section id='graceBio'>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate modi consectetur assumenda fugit magnam aliquid voluptas rerum. Doloremque ex tenetur odit repellendus placeat corrupti! Libero dolorem molestiae maxime dolor similique.</p>
        </section>
        <section id='scottBio'>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro magnam aperiam est ex quod reiciendis officia nihil autem fuga praesentium eius omnis quo quibusdam, odit doloremque repellat exercitationem deserunt impedit.</p>
        </section>
        <section id="klaceBio">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero dolores ut aspernatur, nostrum debitis accusamus maxime veritatis ex? Debitis consequatur tempora a? Temporibus suscipit consectetur, itaque laboriosam numquam nobis repellendus?</p>
        </section>
    </div>
    
</body>
    <%- include('../layout/footer') %>
</html>