<!DOCTYPE html>
<html lang="en">
<head>
  <%- include( './layout/head.ejs' ) %>
  <title>Scores</title>
</head>
<body>
  <header>
    <%- include( './layout/header.ejs' ) %>
  </header>
  <main>

  </main>
</body>
<footer>
  <%- include( './layout/footer.ejs' ) %>
</footer>
</body>
</html>